.nav {
  padding:0 35px 0 45px;
  max-width: 320px;
  background-color: var(--zircon-color);
}

.nav-t1 {
  position: relative;
  margin-bottom: 30px;
  padding: 27px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  color: var(--mine-shaft-color);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--mystic-color);
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
}

.logo {
  display: inline-block;
  width: 100%;
  margin: 60px 0;
}
.logo-img {
}
.menu {
  margin-bottom: 200px;
}
.menu-item {
}
.menu-link {
  display: inline-block;
  width: 100%;
  padding: 23px 0;
  font-weight: 400;
  font-size: 18px;
  color: var(--rolling-stone-color);
  transition: color 0.3s ease-in-out;

  &:hover {
    color: var(--cornflower-blue-color);
  }
}
.social {
  position: relative;
  padding-top: 50px;
  display: flex;
  align-items: center;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: var(--mystic-color);
  }
}
.social-item {
  &:not(:last-child) {
    margin-right: 24px;
  }
}
.solial-link {
}
