<header class="header">
  <div class="container">
    <div class="header-inner">
      <a class="logo-mob" href="/">
        <img class="logo-img" width="200" height="87" src="./img/logo.png" alt="logo">
      </a>
      <button class="btn-reset burger" type="button">
        <div class="burger-line"></div>
        <div class="burger-line"></div>
        <div class="burger-line"></div>
      </button>
      <div class="header-left">
        Welcome to StudyID-Est 2002
      </div>
      <div class="header-right">
        <a class="header-mail" href="mailto:info@study-id.com">info@study-id.com</a>
        <a class="header-tel" href="tel:610756606516">+61(0)756606516</a>
        <button class="header-lang btn-reset" type="button">En</button>
        <button class="header-search btn-reset" type="button">
          <svg width="14" height="14">
            <use xlink:href="img/svg/sprite.svg#search"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</header>