<nav class="nav">
  <a class="logo" href="/">
    <img class="logo-img" width="200" height="87" src="./img/logo.png" alt="logo">
  </a>
  <div class="nav-t1">
    Welcome
  </div>
  <ul class="menu list-reset">
    <li class="menu-item">
      <a class="menu-link" href="#">Qualifications</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="#">About us</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="#">Popular Location</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="#">News & Events</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="#">Contacts us</a>
    </li>
    <li class="menu-item">
      <a class="menu-link" href="#">FAQs</a>
    </li>
  </ul>
  <ul class="social list-reset">
    <li class="social-item">
      <a class="solial-link" href="#">
        <svg width="20" height="20">
          <use xlink:href="img/svg/sprite.svg#twitter"></use>
        </svg>
      </a>
    </li>
    <li class="social-item">
      <a class="solial-link" href="#">
        <svg width="20" height="20">
          <use xlink:href="img/svg/sprite.svg#facebook"></use>
        </svg>
      </a>
    </li>
    <li class="social-item">
      <a class="solial-link" href="#">
        <svg width="20" height="20">
          <use xlink:href="img/svg/sprite.svg#instagram"></use>
        </svg>
      </a>
    </li>
    <li class="social-item">
      <a class="solial-link" href="#">
        <svg width="20" height="20">
          <use xlink:href="img/svg/sprite.svg#youtube"></use>
        </svg>
      </a>
    </li>
    <li class="social-item">
      <a class="solial-link" href="#">
        <svg width="20" height="20">
          <use xlink:href="img/svg/sprite.svg#pinterest"></use>
        </svg>
      </a>
    </li>
    <li class="social-item">
      <a class="solial-link" href="#">
        <svg width="20" height="20">
          <use xlink:href="img/svg/sprite.svg#linkedin"></use>
        </svg>
      </a>
    </li>
  </ul>
</nav>